.add-food{
    width: auto;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: black;
    font-size: 16px;
}
.add-food form{
    gap: 10px;
}
.add-food h1{
    margin-bottom: 13px;
}
.manesh{
    color: tomato;
}
.hell{
    color: rgb(240, 0, 0);
    margin-bottom: 18px;
}
.hell span{
    color: rgb(174, 46, 46);
    font-weight: bolder;
}
p{
    font-weight: bold;
}

.add-img-upload img{
    width: 120px;
    height: 70px;
    cursor: pointer;
    border: 2px dashed rgb(223, 222, 222);
}

.uploading-area{
    display: flex;
    gap: 15px;
}
.uploading-area .food-image img{
    width: 130px;
    height: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%,280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 10px;
    outline: none;
    border: 2px solid tomato;
    border-radius: 6px;
    resize: none;
}

.add-category-price{
    display: flex;
    gap: 35px;
}

.add-category-price select, .add-category-price input{
    padding: 10px;
    max-width: 120px;
    border-radius: 6px;
    outline: none;
    border: 2px solid tomato;
}

.add-btn{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width:600px) {
    .add-food{
        height: 80%;
    }
    .add-food form{
        gap: 15px;
    }
}